* {
    font-family: "Acme", sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(140, 198, 224);
}

p {
    color: rgb(85, 85, 85);
}

a,
.btn {
    transition: all 300ms ease;
}

nav,
.navlink {
    display: flex;
}

nav {
    justify-content: space-around;

    align-items: center;
    height: 17svh;
}

.navlink {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

.navlink li a {
    color: white;
}
.navlink li a:hover{
    color: gray;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(101, 101, 101);
}

#desknav {
    margin: 0;
    width: 100%;
    background-color: rgb(9, 17, 46);
}

.logo {
    color: white;
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

#togg-nav {
    background-color: rgb(9, 17, 46);
    display: none;
}

.togg-menu {
    position: relative;
    display: inline-block;
}

.togg-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.togg-icon span {
    width: 100%;
    height: 2px;

    background-color: white;
    transition: all 0.3s ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.togg-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.togg-icon.open span:nth-child(2) {
    opacity: 0;
}

.togg-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.togg-icon span:first-child {
    transform: none;
}

.togg-icon span:first-child {
    opacity: 1;
}

.togg-icon span:first-child {
    transform: none;
}

section {
    padding-top: 4svh;
    max-height: fit-content;
    margin: 0 10rem;
    box-sizing: border-box;
    height: 50rem;
}

.section-container {
    display: flex;
    gap: 4rem;
    height: 80%;
    justify-content: space-around;
}

#profile {
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
    max-height: fit-content;
}

@keyframes floater{
    /* 50%{
        transform: translateY(10px)
    }
    25%{transform: translateX(5px)} */
    50%{
        transform: scale3d(1.05,1.05,1)
    }
}
.sec-pic {
    display: flex;
    border: 2px solid rgb(9, 17, 46);
    border-radius: 50%;
    overflow: hidden;
    width: 36rem;
    height: 36rem;
    object-fit: cover;
    margin: auto 0;
    animation-name: floater;
    animation-duration:3s;
    animation-timing-function:cubic-bezier(0.555, 0.415, 0.15, 0.16);
    animation-iteration-count: infinite;
}
.section_text {
    cursor: default;
    align-self: center;
    text-align: center;
}

.section_text p {
    font-weight: 600;
}

.sec-p1 {
    text-align: center;
    font-size: 1.5rem;
}

.sec-p2 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.title {
    font-size: 4.2rem;
    text-align: center;
    color: rgb(9, 17, 46);

}

#social-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/**/
.icon {
    cursor: pointer;
    height: 2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;

}

.btn-container button {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 40px;
    border: 2px solid black;
}

.btn-color1 {
    background-color: transparent;
    color: rgb(85, 85, 85);
    position: relative;
    overflow: hidden;
}

.btn-color1:hover {
    color: white;
    cursor: pointer;
}

.btn-color1::after {
    content: '';
    z-index: -1;
    width: 0;
    top: 0;
    right: 0;
    height: 100%;
    position: absolute;
    background-color: rgb(9, 17, 46);
    transition: all 0.3s linear;
}

.btn-color1:hover::after {
    width: 100%;
}

.btn-color2 {
    background-color: transparent;
    color: white;
    position: relative;
    overflow: hidden;
}

.btn-color2:hover {
    color: rgb(85, 85, 85);
    cursor: pointer;
}

.btn-color2::after {
    content: '';
    z-index: -1;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    background-color: rgb(9, 17, 46);
    transition: all 0.3s linear;
}

.btn-color2:hover::after {
    width: 0;
}

#socials-container {
    margin-top: 1rem;
    scale: 1.2;
    justify-content: center;
    display: flex;
    gap: 1rem;
}

#about {
    margin: auto auto 6rem auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./asset/usaidbg.jpeg);
}

.about-con {
    padding: 2rem;
}

.about-title {
    color: rgb(200, 240, 240);
}

.about-p1,
.text-container p {
    color: white;
}

.text-container p {
    font-size: 1.3rem;
}

.about-containers {
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers,
.about-details-container {
    display: flex;
}

.about-pic {
    margin-top: 2rem;
    width: 30rem;
    object-fit: cover;
    height: 30rem;
    overflow: hidden;
    border-radius: 20%;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background-color: white;
    border-radius: 2rem;
    font-size: 1.3rem;
    text-align: center;
    padding: 3rem;
    border: 2px solid rgb(101, 101, 101);
}


.exp-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.exp-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: center;
}

article {
    display: flex;
    width: 10rem;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}

.color-container {
    border: 3px solid rgb(0, 90, 143);
    background: rgb(0, 90, 143);
    transition: all 0.5s ease;
}

.color-container:hover {
    border-color: rgb(52, 115, 131);
    background: rgb(9, 140, 216);
}

.project-img {

    border-radius: 2rem;
    width: 95%;
    height: 90%;
}

.project-title {
    margin: 1rem;
    color: black;
}

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;

}

.contact-info-up-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53);
    border-color: rgb(9, 17, 46);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
    height: 2rem;
}

footer {
    background-color: rgb(9, 17, 46);
    /* color: white; */
}

#footerlink {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

#footerlink li a {
    color: white;
}

#footerlink li a:hover {
    color: gray;
}